<div id="page-container" class="col">
    <div id="file-drop-container" class="h-100" *ngIf="!isFileUploaded" [@fadeOutAndZoom]>
        <file-drop customstyle="file-drop h-100" (onFileDrop)="dragAndDropFile($event)">
            <div id="centered-drag-and-drop" class="text-center align-middle">
                <i id="upload-icon" class="fa fa-cloud-upload text-light"></i>
                <div class="font-weight-bold text-light responsive-text-md-1">Drag and drop a file</div>
                <p class="text-light responsive-text-xs">or <span id="upload-link" (click)="triggerFileInput()">browse your files</span></p>
                <input id="upload-input" type="file" accept="image/*" onclick="this.value = null" (change)="clickUploadFile($event)">
            </div>
        </file-drop>
    </div>
    <div id="loading-container" class="h-100 text-center" *ngIf="isFileUploaded" [@fadeIn]>
        <app-loading></app-loading>
    </div>
</div>
