/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif !important;
}

.file-drop {
    border: 2px dashed #dee2e6;
    border-radius: 16px;
    opacity: 0.8;
    height: 100%;
}

#dropZone > div {
    height: 100%;
}